# Dependencies
node_modules/

# Local Environment Variables (CRITICAL: Never upload API keys!)
.env
.env.local
.env.development
.env.test
.env.production

# Logs & Run-time data
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Large binaries & Backup archives
*.zip
*.rar
*.tar.gz
*.exe
ngrok

# Local SQLite / JSON database files
*db.json
properties.json

# Multer audio uploads / Temp files
uploads/
temp_*.ogg

# OS specific files
.DS_Store
Thumbs.db
